* {
  box-sizing: border-box;
}
/* 基本設置 */
html,
body {
  /*   box-model */
  margin: 0px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  background-color: #fcf9ee;
}

h1 {
  /*   box-model */
  margin-top: 0px;
  margin-bottom: 10px;
  min-width: 300px;
  /*   font & others */
  font-size: 32px;
}

/* 頭頂 */
header {
  background-color: #ffd06b;
}

var {
  /*   display */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*   box-model */
  max-width: 1000px;
  margin: 0 auto 10px;
  padding: 0px 20px;
}

li {
  display: inline-block;
}

#heart {
  width: 20px;
}

#heart:hover {
  cursor: pointer;
}

button.heart-click {
  background: #ffd06b;
  border: none;
}

/* 主內容 */

main {
  max-width: 1000px;
  margin: 50px auto 0;
}

.personal-data {
  /*   display */
  display: flex;
  align-items: center;
  /*   box-model */
  max-width: 1000px;
}
/* 主內容－照片 */

.personal-avatar {
  /*   display */
  text-align: center;
  /*   box-model */
  min-width: 500px;
  margin-left: 0px;
}

.avatar {
  max-width: 80%;
  border-radius: 50%;
}

/* 主內容－文字描述 */
.personal-information {
  width: 50%;
  padding-left: 100px;
}

.tag {
  /*   display */
  display: inline-block;
  /*   box-model */
  border: 2px solid #ffd06b;
  border-radius: 8px;
  padding: 2px 12px;
  margin: 3px;
  /*   font & others */
  word-break: keep-all;
}

.tag:hover {
  color: white;
  background-color: #ffd06b;
  border: 2px solid white;
}

/* 連結區 */

.the-gate {
  /*   display */
  display: inline-block;
  position: relative;
  /*   box-model */
  width: 32%;
  /*   font & others */
  font-size: 40px;
  text-align: center;
}

.fa-user-pen {
  color: #2e2b33;
}

.fa-user-pen:hover {
  color: #ff9203;
}

.fa-user-pen:hover::after {
  /*   display */
  position: absolute;
  /*   font & others */
  font-size: 15px;
  content: "個人簡介";
  top: 50px;
  left: 15px;
}

.fa-briefcase {
  color: #2e2b33;
}

.fa-briefcase:hover {
  color: #ff9203;
}

.fa-briefcase:hover::after {
  /*   display */
  position: absolute;
  /*   font & others */
  font-size: 15px;
  content: "工作經驗";
  top: 50px;
  left: 18px;
}

.fa-gamepad {
  color: #2e2b33;
}

.fa-gamepad:hover {
  color: #ff9203;
}

.fa-gamepad:hover::after {
  /*   display */
  position: absolute;
  /*   font & others */
  font-size: 15px;
  content: "作品集";
  top: 50px;
  left: 27px;
}

/* 尾巴 */
footer {
  /*   box-model */
  margin-top: 50px;
  /*   font & others */
  text-align: center;
  background-color: #666666;
}


section.bottom {
  /*   display */
  display: flex;
  /*   box-model */
  width: 1000px;
  margin: 0 auto;
  align-items: center;
  /*   font & others */
  font-size: 25px;
  justify-content: center;
  
}

.social-media {
  /*   font & others */
  text-decoration: none;
  font-size: 30px;
  margin-left: 10px;
  color: #ffa1ff;
}

.social-media:hover {
  color: white;
}

.footer-text {
  /*   box-model */
  margin-bottom: 2px;
  margin-right: 10px;
  /*   font & others */
  font-size: 20px;
  color: white;
}

.social-media-cel {
  /*   box-model */
  margin-left: 15px;
  /*   font & others */
  align-items: center;
  text-decoration: none;
}

.my-phone {
  /*   display */
  display: block;
  /*   font & others */
  font-size: 15px;
  color: white;
}
